.small
{
    padding: 10px 0px;
    width: 100%;
    float: left;
    margin: 0px;
    font-size: 90%;
}

.form-control
{
    padding: 9px 10px;
    width: 100%;
    float: left;
}

.card-header
{
    margin-bottom: 12px;
    width:100%;
    float: left;
    font-size: 22px;
}

.card-body {
    padding: 50px;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    margin: 20px;
}

form{
    padding-bottom: 50px;
}

.card-header
{
    background-color: #0379c0;
    color: #fff;
    width: calc(100% - 38px);
    font-size: 22px !important;
    padding: 6px 50px;
    float: left;
    margin-left: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #0379c0 !important;
    border-color: #0379c0 !important;
} 

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid grey;
    color: grey;
}

#page-wrapper{
    margin-top: 80px !important;
}

input[type=checkbox]
{
    width: 30px;
    height: 30px ;
}

@media only screen and (max-width: 700px) and (min-width: 320px)  {
.card-body {

    margin: 20px 0px;
    padding: 20px;
}

.col-sm-12
{
    padding: 0px;
}

.card-header {
    background-color: #0379c0;
    color: #fff;
    width: calc(100% - 0px);
    font-size: 22px !important;
    padding: 6px 50px;
    float: left;
    margin-left: 0px;
}
}