<div class="col-sm-12">
    <div class="card mb-4">
        <div class="card-header" style="text-align: center; font-size: 28px;">Update Service</div>
        <div class="card-body">
            <form #loginForm="ngForm" (ngSubmit)="updateData(loginForm.value)">
           
       
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="servStateCd">Service State Code</label>
                        <input class="form-control" disabled [value]="list.servStateCd" id="servStateCd" name="servStateCd"  type="text"
                           >
                            </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="servModule">Service Module</label>
                        <input class="form-control" disabled [value]="list.servModule" name="servModule"  id="servModule" type="text" 
                            >
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="servIos">Service Ios</label>
                        <input type="checkbox" id="servIos" name="servIos"  [checked]="list.servIos" (change)="list.servIos = !list.servIos">
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="servAndroid">Service Android </label>
                        <input type="checkbox" id="servAndroid" name="servAndroid" [checked]="list.servAndroid" (change)="list.servAndroid = !list.servAndroid">
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="servStatus">Service Status</label>
                        <input type="checkbox" id="servStatus" name="servStatus" [checked]="list.servStatus" (change)="list.servStatus = !list.servStatus">
                        
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="servCode">Service Code</label>
                        <input class="form-control" disabled [value]="list.servCode" id="servCode" name="servCode"  type="text" >
                    </div>
                </div>
                <div class="col-sm-12" style="text-align: center; display: block; margin-top: 15px;">
                <button style="display: inline-block;"   class="btn btn-primary" style="margin-top: 20px;" type="submit">Update Service</button>
                </div>
            </form>
        </div>
    </div>
</div>

