/* Tabs*/
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#tabs {
  background: #007b5e;
  color: #eee;
}

#tabs h6.section-title {
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #f3f3f3;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  font-size: 20px;
  font-weight: bold;
}

#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #eee;
  font-size: 20px;
}

.firstTab {
  width: 100%;
  float: left;
  padding: 20px;
  color: #fff;
  background-color: #5fb4ef;
}

.nav-tabs {
  border: none !important;
}

.firstTab p {
  font-size: 16px;
  width: 100%;
  float: left;
  text-align: left;
}

.firstTab h4 {
  font-size: 24px;
  width: 100%;
  float: left;
  text-align: left;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
  width: 33.33%;
  float: left;
}

.heading {
  padding: 12px;
  width: 100%;
  float: left;
  background-color: #2F58CD;
  color: #fff;
  text-align: center;
}

.heading1 {
  padding: 12px;
  width: 100%;
  float: left;
  background-color: #2F58CD !important;
  color: #fff !important;
  text-align: left;
}


@media(max-width:992px) {
  .wrapper {
    width: 100%;
  }
}

.panel-heading {
  padding: 0;
  border: 0;
}

.panel-title>a,
.panel-title>a:active {
  display: block;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none;
}

.panel-heading a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  transition: all 0.5s;
}

.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}


body {
  background-color: #f9f9fa
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

@media (max-width:991.98px) {
  .padding {
    padding: 1.5rem
  }
}

@media (max-width:767.98px) {
  .padding {
    padding: 1rem
  }
}

.padding {
  padding: 5rem
}

.card {
  background: #fff;
  border-width: 0;
  border-radius: .25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
  margin-bottom: 1.5rem
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(19, 24, 44, .125);
  border-radius: .25rem
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(19, 24, 44, .03);
  border-bottom: 1px solid rgba(19, 24, 44, .125)
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

card-footer,
.card-header {
  background-color: transparent;
  border-color: rgba(160, 175, 185, .15);
  background-clip: padding-box
}

.panel-body {
  padding: 0px;
}

.barchart-Wrapper {
  display: table;
  position: relative;
  margin: 20px 0;
  height: 252px;
}

.barChart-Container {
  display: table-cell;
  width: 100%;
  height: 100%;
  padding-left: 15px;
}

.barchart {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid tomato;
}

.barchart-Col {
  position: relative;
  vertical-align: bottom;
  display: table-cell;
  height: 100%;
}

.barchart-Col+.barchart-Col {
  border-left: 4px solid transparent;
}

.barchart-Bar {
  position: relative;
  height: 0;
  transition: height 0.5s 2s;
  width: 40px;
  margin: auto;
}

.barchart-Bar:after {
  content: attr(attr-height);
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
}

.barchart-BarFooter {
  position: absolute;
  text-align: center;
  height: 10%;
  width: 100%;
}

.barchart-BarFooter h3 {
  color: darkred;
}

.barchart-TimeCol {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.barchart-Time {
  height: 20%;
  vertical-align: middle;
  position: relative;
}

.barchart-Time:after {
  border-bottom: .5px solid #ebebeb;
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0em;
}

.barchart-TimeText {
  position: absolute;
  top: -8px;
  z-index: 1;
  background: white;
  padding-right: 5px;
  color: #4d4d4d;
  font-size: 15px;
  font-family: 'Avenir Medium';
}

.html-bar {
  background-color: deepskyblue;
}

.css-bar {
  background-color: greenyellow;
}

.js-bar {
  background-color: peachpuff;
}

.python-bar {
  background-color: darkolivegreen;
}

.java-bar {
  background-color: cornflowerblue;
}

.container {
  padding: 0px;
}

.col-sm-12 {
  padding: 0px;
}

.nav-link {
  padding-left: 0px;
}
.barchart-BarFooter h3{
  font-size: 20px;
  margin-top: 15px;
}

#form
{
  width: 100%;
  float: left;
  padding: 7px 20px;

}

#form
{
  width: 40%;
  float: left;
  padding: 7px 0px;
  margin: 5px 0px;
  
}
#dl
{
  width: 100%;
  float: left;
  padding: 7px 20px;
  
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: none;
}
.firstTab {
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #dedede;
  text-decoration: none;
  border-radius: 10px;
  line-height: 2.0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 20px;
  box-sizing: border-box;
  transition: 0.3s;
  -webkit-box-shadow: 0 4px 6px -6px #9fa0a0;
  -moz-box-shadow: 0 4px 6px -6px #007fb6;
  box-shadow: 0 4px 6px -6px #9fa0a0;
  min-height: 132px;
}
.firstTab:hover {

  border: 2px solid #058ad1;

  -webkit-box-shadow: 0 8px 6px -6px #9fa0a0;
  -moz-box-shadow: 0 8px 6px -6px #007fb6;
  box-shadow: 0 8px 6px -6px #9fa0a0;
}

.nav-tabs>li>a {
  border: none !important;
  border-radius: none !important;
}

.nav>li>a {
  padding: 0px !important;
}
#myInput
{
  margin: 10px 0px;
  width: 40%;
  float: right;
  padding: 7px 20px;
}
#myInput1
{
  margin: 10px 0px;
  width: 40%;
  float: right;
  padding: 7px 20px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 3px !important;
}

.one
{
  width: 100% !important;
}




@media only screen and (max-width: 700px) and (min-width: 320px)  {
  .nav-tabs>li {
    ppadding-left: 0px;
    margin: 0px 15px;
    width: calc(100% - 30px);
    float: left;
    margin-bottom: -1px;
  }

  .lodinImg
  {
    width: 10% !important;
  }
.col-sm-6
{
  padding: 0px 15px !important;
}
.mobStyle
{
  padding: 0px 15px !important;
}
.barchart-Bar {
  position: relative;
  height: 0;
  transition: height 0.5s 2s;
  width: 20px !important;
  margin: 0px 20px !important;
}
.hd{
font-size: 18px !important;
}
#tabs-4
{
  padding: 0px 15px !important;
}
.one{
  margin: 0px 0px !important;
    width: calc(100% - 0px) !important;
    float: left;
    margin-bottom: -1px;
}
  }
  