<!-- <app-dashheader></app-dashheader> -->
<div class="container">
  <br>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tabs-2" role="tab">

        <div class="firstTab" style="background: #d66756">
          <div style="width: 100%;float: left;" *ngIf="!IsSpinner">
          <h4>5800000</h4>
          <p class="FirstLine">
            Vahan Transaction</p>
            </div>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4" *ngIf="IsSpinner">
                <div style="width: 100%; float: left; display: block; text-align: center;">
                  <img src="assets/img/loading-gif-icon-24.gif" width="40%" style="display: inline-block;" class="lodinImg">
                </div>
              </div>
              <div class="col-md-4"></div>
            </div>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" >

        <div class="firstTab" style="background: #3795BD" >
          <div style="width: 100%;float: left;" *ngIf="!IsSpinner">
          <h4>{{SarathiCount}}</h4>
          <p class="FirstLine"> Sarathi Transaction </p>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4" *ngIf="IsSpinner">
            <div style="width: 100%; float: left; display: block; text-align: center;">
              <img src="assets/img/loading-gif-icon-24.gif" width="40%" style="display: inline-block;" class="lodinImg">
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
        </div>

      </a>

    
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab" style="padding-right:0px">

        <div class="firstTab" style=" background: #009688 ">
          <div style="width: 100%;float: left;" *ngIf="!IsSpinner">
          <h4>{{ChallanCount}}</h4>

          <p class="FirstLine">eChallan Transaction </p>

</div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" *ngIf="IsSpinner">
              <div style="width: 100%; float: left; display: block; text-align: center;">
                <img src="assets/img/loading-gif-icon-24.gif" width="40%" style="display: inline-block;" class="lodinImg">
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </a>
    </li>
  </ul><!-- Tab panes -->

  <div class="container">
    <div class="tab-content">
      <!-- <div class="tab-pane active" id="tabs-1" role="tabpanel">
        <h4 div class="heading">Registered User</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Year</th>
              <th>Counit</th>
              <th>Actve</th>
              <th>Deactive</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>Till Date</b></td>
              <td>1500</td>
              <td>1400</td>
              <td>100</td>
            </tr>
            <tr>
              <td><b>2022</b></td>
              <td>100</td>
              <td>90</td>
              <td>10</td>
            </tr>
            <tr>
              <td><b>2021</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
            <tr>
              <td><b>2020</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
            <tr>
              <td><b>2019</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
            <tr>
              <td><b>2018</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
            <tr>
              <td><b>2017</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <div class="tab-pane active" id="tabs-2" role="tabpanel">
        <div class="container">

          <div class="col-sm-6" style="padding-left: 0px;">
            <div class="panel-heading active" role="tab" id="headinOneg">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" class="heading1" href="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Virtual RC
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <div class="search">
                  <form id="form">
                    <select name="dL" id="dl">
                      <option value="ALL">ALL</option>
                      <option value="DL">DELHI</option>
                      <option value="MP">MP</option>
                      <option value="UP">UP</option>
                    </select>
                  </form>
                  <input class="form-control" id="myInput" type="text" placeholder="Search..">
                </div>
                <table class="table table-bordered table-striped">

                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Count</th>
                      <th>Active</th>
                      <th>Deactive</th>
                    </tr>
                  </thead>
                  <tbody id="myTable">
                    <tr>
                      <td><b>Till Date</b></td>
                      <td>1500</td>
                      <td>1400</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td><b>2022</b></td>
                      <td>100</td>
                      <td>90</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <td><b>2021</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2020</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2019</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2018</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2017</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="col-sm-6" style="padding-right: 0px;">
            <div class="panel-heading active" role="tab" id="headinTwo">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" class="heading1" href="#collapseTwo"
                  aria-expanded="true" aria-controls="collapseOne">
                  Virtual DL
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <div class="search">
                  <form id="form">
                    <select name="dL" id="dl">
                      <option value="ALL">ALL</option>
                      <option value="DL">DELHI</option>
                      <option value="MP">MP</option>
                      <option value="UP">UP</option>
                    </select>
                  </form>
                  <input class="form-control" id="myInput1" type="text" placeholder="Search..">
                </div>
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Count</th>
                      <th>Active</th>
                      <th>Deactive</th>
                    </tr>
                  </thead>
                  <tbody id="myTable1">
                    <tr>
                      <td><b>Till Date</b></td>
                      <td>1500</td>
                      <td>1400</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td><b>2022</b></td>
                      <td>100</td>
                      <td>90</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <td><b>2021</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2020</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2019</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2018</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2017</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="tab-pane " id="tabs-3" role="tabpanel">
        <div class="container">

          <div class="col-sm-6" style="padding-left: 0px;">
            <div class="panel-heading active" role="tab" id="headinOneg">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" class="heading1" href="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Virtual RC
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <div class="search">
                  <form id="form">
                          <select class="form-control" id="country-state" #state name="country-state form-control" [(ngModel)] = "filters.mparSarathiLog.sarlogStateCd" (change)="mparSarathiCount()">
            <option value="ALL">ALL</option>
            <option value="AN">Andaman and Nicobar Islands</option>
            <option value="AP">Andhra Pradesh</option>
            <option value="AR">Arunachal Pradesh</option>
            <option value="AS">Assam</option>
            <option value="BR">Bihar</option>
            <option value="CH">Chandigarh</option>
            <option value="CT">Chhattisgarh</option>
            <option value="DN">Dadra and Nagar Haveli</option>
            <option value="DD">Daman and Diu</option>
            <option value="DL">Delhi</option>
            <option value="GA">Goa</option>
            <option value="GJ">Gujarat</option>
            <option value="HR">Haryana</option>
            <option value="HP">Himachal Pradesh</option>
            <option value="JK">Jammu and Kashmir</option>
            <option value="JH">Jharkhand</option>
            <option value="KA">Karnataka</option>
            <option value="KL">Kerala</option>
            <option value="LA">Ladakh</option>
            <option value="LD">Lakshadweep</option>
            <option value="MP">Madhya Pradesh</option>
            <option value="MH">Maharashtra</option>
            <option value="MN">Manipur</option>
            <option value="ML">Meghalaya</option>
            <option value="MZ">Mizoram</option>
            <option value="NL">Nagaland</option>
            <option value="OR">Odisha</option>
            <option value="PY">Puducherry</option>
            <option value="PB">Punjab</option>
            <option value="RJ">Rajasthan</option>
            <option value="SK">Sikkim</option>
            <option value="TN">Tamil Nadu</option>
            <option value="TG">Telangana</option>
            <option value="TR">Tripura</option>
            <option value="UP">Uttar Pradesh</option>
            <option value="UT">Uttarakhand</option>
            <option value="WB">West Bengal</option>
        </select>
                  </form>
                </div>
         

                  <ul class="nav nav-tabs" role="tablist">
           
                    <li class="nav-item one" >
                      <a class="nav-link" >
                
                        <div class="firstTab " style="background: #3795BD" >
                          <div style="width: 100%;float: left;" >
                          <h4>{{SarathiList}}</h4>
                          <p class="FirstLine"> {{filters.mparSarathiLog.sarlogStateCd}} Sarathi Transaction </p>
                        </div>
                        <div class="row">
                          <div class="col-md-4"></div>
                          <div class="col-md-4" *ngIf="IsSpinner">
                            <div style="width: 100%; float: left; display: block; text-align: center;">
                              <img src="assets/img/loading-gif-icon-24.gif" width="40%" style="display: inline-block;">
                            </div>
                          </div>
                          <div class="col-md-4"></div>
                        </div>
                        </div>
                
                      </a>
                
                    
                    </li>
           
                  </ul><!-- Tab panes -->
       
              </div>
            </div>
          </div>


          <div class="col-sm-6" style="padding-right: 0px;">
            <div class="panel-heading active" role="tab" id="headinTwo">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" class="heading1" href="#collapseTwo"
                  aria-expanded="true" aria-controls="collapseOne">
                  Virtual DL
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <div class="search">
                  <form id="form">
                    <select name="dL" id="dl">
                      <option value="ALL">ALL</option>
                      <option value="DL">DELHI</option>
                      <option value="MP">MP</option>
                      <option value="UP">UP</option>
                    </select>
                  </form>
                  <input class="form-control" id="myInput1" type="text" placeholder="Search..">
                </div>
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Count</th>
                      <th>Active</th>
                      <th>Deactive</th>
                    </tr>
                  </thead>
                  <tbody id="myTable1">
                    <tr>
                      <td><b>Till Date</b></td>
                      <td>1500</td>
                      <td>1400</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td><b>2022</b></td>
                      <td>100</td>
                      <td>90</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <td><b>2021</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2020</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2019</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2018</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td><b>2017</b></td>
                      <td>250</td>
                      <td>210</td>
                      <td>40</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="tab-pane" id="tabs-4" role="tabpanel">
        <h4 div class="heading">No of Transaction</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Year</th>
              <th>Count</th>
              <th>Active</th>
              <th>Deactive</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>Till Date</b></td>
              <td>1500</td>
              <td>1400</td>
              <td>100</td>
            </tr>
            <tr>
              <td><b>2022</b></td>
              <td>100</td>
              <td>90</td>
              <td>10</td>
            </tr>
            <tr>
              <td><b>2021</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
            <tr>
              <td><b>2020</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
            <tr>
              <td><b>2019</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
            <tr>
              <td><b>2018</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
            <tr>
              <td><b>2017</b></td>
              <td>250</td>
              <td>210</td>
              <td>40</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>


<div class="container mobStyle">
  <h4 class="heading" style="margin-bottom:50px;">Registered User Chart</h4>

  <div class="barchart-Wrapper">
    <div class="barchart-TimeCol">
      <div class="barchart-Time">
        <span class="barchart-TimeText">500</span>
      </div>
      <div class="barchart-Time">
        <span class="barchart-TimeText">400</span>
      </div>
      <div class="barchart-Time">
        <span class="barchart-TimeText">300</span>
      </div>
      <div class="barchart-Time">
        <span class="barchart-TimeText">200</span>
      </div>
      <div class="barchart-Time">
        <span class="barchart-TimeText">100</span>
      </div>
    </div>

    <div class="barChart-Container">
      <div class="barchart">
        <div class="barchart-Col">
          <div class="barchart-Bar html-bar" style="height: 75%;"></div>
          <div class="barchart-BarFooter">
            <h3 class="hd">2022</h3>
          </div>
        </div>
        <div class="barchart-Col">
          <div class="barchart-Bar css-bar" style="height: 50%;"></div>
          <div class="barchart-BarFooter">
            <h3 class="hd">2021</h3>
          </div>
        </div>
        <div class="barchart-Col">
          <div class="barchart-Bar js-bar" style="height: 75%;"></div>
          <div class="barchart-BarFooter">
            <h3 class="hd">2020</h3>
          </div>
        </div>
        <div class="barchart-Col">
          <div class="barchart-Bar python-bar" style="height: 25%;"></div>
          <div class="barchart-BarFooter">
            <h3 class="hd">2019</h3>
          </div>
        </div>
        <div class="barchart-Col">
          <div class="barchart-Bar java-bar" style="height: 100%;"></div>
          <div class="barchart-BarFooter">
            <h3 class="hd">2018</h3>
          </div>
        </div>
        <div class="barchart-Col">
          <div class="barchart-Bar java-bar" style="height: 70%;"></div>
          <div class="barchart-BarFooter">
            <h3 class="hd">2017</h3>
          </div>
        </div>
        <div class="barchart-Col">
          <div class="barchart-Bar java-bar" style="height: 80%;"></div>
          <div class="barchart-BarFooter">
            <h3 class="hd">2016</h3>
          </div>
        </div>
        <div class="barchart-Col">
          <div class="barchart-Bar java-bar" style="height: 50%;"></div>
          <div class="barchart-BarFooter">
            <h3 class="hd">2015</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<!-- <h4>{{ChallanCount}}</h4> -->