<!-- <div id="navbar" class="collapse navbar-collapse navigation-background-nav">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="terms" style="font-weight: normal !important;"> Terms and Conditions</a>
            </li>
            <li>
                <a routerLink="privacy" style="font-weight: normal !important;"> Privacy policy </a>
            </li>

            <li>
                <a class="loginLink" routerLink="">Declaration</a>
            </li>
            <li>
                <a class="loginLink" routerLink="">Services</a>
            </li>
            <li>
                <a class="loginLink" routerLink="hyperlinkPolicy">Hyperlink Policy</a>
            </li>
            <li>
                <a class="loginLink" routerLink="WebsitePolicy">Website Policies</a>
            </li>
            <li>
                <a class="loginLink" routerLink="contentPolicy">Content Policies</a>
            </li>
            <li>
                <a class="loginLink" routerLink="contingency">Contingency Plan</a>
            </li>

        </ul>
    </div>
</div> -->
<div style="background: #000000; line-height: 2.0; min-height: 50px;">
    <div class="container" style="padding: 10px 0;">
        <table style="width: 100%" class="desk">
            <tr>
                <td style="width:20%; text-align: left;" class="footer-resize">
                    <a target="_blank" href="https://www.digitalindia.gov.in/" class="inline-section"
                        style="background: #FFFFFF; padding: 5px 20px; border-radius: 10px;">
                        <img src="assets/logo-digital-india.png" alt="Digital India">
                    </a>
                </td>
                <td style="width:60%; text-align: center;" class="footer-resize">
                    <div style="color: #FFFFFF; font-size: 12px;" class="footer-line-space">
                        Powered by National Informatics Centre. All Rights Reserved.
                    </div>
                </td>
                <td style="width:20%; text-align: right;" class="footer-resize">
                    <a target="_blank" href="https://www.nic.in/" class="inline-section"
                        style="background: #FFFFFF; padding: 5px 20px; border-radius: 10px;">
                        <img src="assets/logo-nic.png" alt="National Informatic Centre">
                    </a>
                </td>
            </tr>
        </table>
        <table style="width: 100%" class="mobile">
            <tr class="toptrr">
                <td class="cssTop footer-resize">
                    <a target="_blank" href="https://www.digitalindia.gov.in/" class="inline-section"
                        style="background: #FFFFFF; padding: 5px 20px; border-radius: 10px;">
                        <img src="assets/logo-digital-india.png" alt="Digital India">
                    </a>
                </td>
                <td style="padding-left: 0px !important;" class="footer-resize cssTop rigtft">
                    <a target="_blank" href="https://www.nic.in/" class="inline-section"
                        style="background: #FFFFFF; padding: 5px 20px; border-radius: 10px;">
                        <img src="assets/logo-nic.png" alt="National Informatic Centre">
                    </a>
                </td>
            </tr>
            <tr style="width: 100%; float:left; text-align: center;">
                <td style="width:100%; text-align: center;float: left;margin-top: 15px;" class="footer-resize">
                    <div style="color: #FFFFFF; font-size: 12px;" class="footer-line-space">
                        Powered by National Informatics Centre. All Rights Reserved.
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>