.footer-resize img {
    width: auto;
    height: 50px;
}
.mobile
{
    display: none;
}


@media only screen and (max-width: 760px) and (min-width: 320px)  {
    .mobile
    {
        display: block;
    }
    .desk
    {
        display: none;
    }

    .cssTop
    {
        width: 50%;
        text-align: left;
        float: left;
      
    }

    .footer-resize img {
        width: 100%;
        height: 50px;
    }
}
.table-width-four td {
                width: 25%;
                vertical-align: top!important
            }

            .table-width-oneforth td:nth-child(1) {
                width: 25%!important;
                vertical-align: top!important
            }

            .table-width-oneforth td:nth-child(2) {
                width: 75%!important;
                vertical-align: top!important
            }
            .bottom-space
            {
                margin-bottom: 10px;
            }
            .font-bold {
                font-weight: bold;
            }
            .center-position {
                text-align: center !important;
            }
            .inline-section
            {
                display: inline-block;
            }
            .vertical-section h2{
                color: #1996bb;
                font-family: monospace;
                font-size: 240%;
            }
            .vertical-section
            {
                vertical-align: top;
            }
            .contact-font{
                font-size: 18px;
                color: #0089a9;
                font-weight: bold;
                font-family: monospace;
            }


.toptrr
{
width: calc(100% - 40px); 
margin: 0px 20px; 
float:left;
}

.cssTop a
{
    background: #FFFFFF;
    padding: 5px 20px;
    border-radius: 10px;
    margin:0px 10px;
    width: calc(100% - 20px);
    float: left;
}

.container-fluid
{
    padding: 10px 40px !important;
}
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    background: -webkit-linear-gradient(top, #1b588c, #002c46);
    color: #fff;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}

.navbar-nav li a:hover
{
    background-color: transparent !important;
}

.logoftr
{
    width: 100px;
    float: right;

}
.logoftr img
{
    width: 100%;
    float: left;

}