<div class="col-sm-12" style=" padding: 10px;
box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);">
  <div class="panel-heading active" role="tab" id="headinOneg">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" class="heading1" href="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        Enable Services
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body" style="padding:0px">
      <div class="col-sm-12" style="padding:0px">
        <div class="col-sm-6" style="padding:0px">
          <div class="search" style="float: left;">
          <select class="form-control" id="country-state" #state name="country-state form-control" [(ngModel)] = "filters.mparEnabledService.servStateCd" (change)="getenableServices()">
            <option value="">Select state</option>
            <option value="AN">Andaman and Nicobar Islands</option>
            <option value="AP">Andhra Pradesh</option>
            <option value="AR">Arunachal Pradesh</option>
            <option value="AS">Assam</option>
            <option value="BR">Bihar</option>
            <option value="CH">Chandigarh</option>
            <option value="CT">Chhattisgarh</option>
            <option value="DN">Dadra and Nagar Haveli</option>
            <option value="DD">Daman and Diu</option>
            <option value="DL">Delhi</option>
            <option value="GA">Goa</option>
            <option value="GJ">Gujarat</option>
            <option value="HR">Haryana</option>
            <option value="HP">Himachal Pradesh</option>
            <option value="JK">Jammu and Kashmir</option>
            <option value="JH">Jharkhand</option>
            <option value="KA">Karnataka</option>
            <option value="KL">Kerala</option>
            <option value="LA">Ladakh</option>
            <option value="LD">Lakshadweep</option>
            <option value="MP">Madhya Pradesh</option>
            <option value="MH">Maharashtra</option>
            <option value="MN">Manipur</option>
            <option value="ML">Meghalaya</option>
            <option value="MZ">Mizoram</option>
            <option value="NL">Nagaland</option>
            <option value="OR">Odisha</option>
            <option value="PY">Puducherry</option>
            <option value="PB">Punjab</option>
            <option value="RJ">Rajasthan</option>
            <option value="SK">Sikkim</option>
            <option value="TN">Tamil Nadu</option>
            <option value="TG">Telangana</option>
            <option value="TR">Tripura</option>
            <option value="UP">Uttar Pradesh</option>
            <option value="UT">Uttarakhand</option>
            <option value="WB">West Bengal</option>
        </select>
        </div>
        </div>
        <div class="col-md-6">
          <div class="search">
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
          </div>
        </div>
      </div>

        <ul  class="nav nav-pills">
          <li class="active"><a  (click)="onServModuleChange('S4')" data-toggle="tab">Sarathi</a></li>
          <li ><a  (click)="onServModuleChange('V4')" data-toggle="tab">Vahan</a></li>
          <li><a  (click)="onServModuleChange('E4')" data-toggle="tab">Echallan</a></li>
          <li ><a  (click)="onServModuleChange('N4')" data-toggle="tab">Notice</a></li>
        </ul>
      <br>
      <div class="tab-content clearfix">
			  <div class="tab-pane active" id="1a">
          <table class="table table-bordered table-striped" *ngIf="!IsSpinner">

            <thead>
              <tr>
                <th> Sr.no.</th>
                <th>service Id</th>
                <th> Code</th>
                <th>Module</th>
                <th> Name</th>
                <th>State Code</th>
                <th>Status</th>
                <th>Order</th>
                <th> Android</th>
                <th>Ios</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="myTable">
              <tr *ngFor="let list of lists; index as i;">
                <td>{{i+1}}</td>
                <td>{{list.servId}}</td>
                <td>{{list.servCode}}</td>
                <td>{{list.servModule}}</td>
                <td>{{list.servName}}</td>
                <td>{{list.servStateCd}}</td>
                <td>{{list.servStatus}}</td>
                <td>{{list.servOrder}}</td>
                <td>{{list.servAndroid}}</td>
                <td>{{list.servIos}}</td>
                <td><button type="button" [disabled]="list.servUpdatedAt" (click)="onEditClick(list)" class="btn btn-primary" style="margin-right:
                10px;">  <span class="glyphicon glyphicon-pencil"></span></button>
             <button type="button" [disabled]="list.servUpdatedAt" routerLink="/admin/createSevice" class="btn btn-primary">  <span class="glyphicon glyphicon-plus"></span></button>
             <button type="button" class="btn btn-primary" style="margin-left:
             10px;">  <input type="checkbox" [checked]="!list.servUpdatedAt"   (change)="list.servUpdatedAt = !list.servUpdatedAt">
             </button> 
           </td>
            </tr>
    
            </tbody>
          </table>
				</div>
			</div>
     
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" *ngIf="IsSpinner">
      <div style="width: 100%; float: left; display: block; text-align: center;">
        <img src="assets/img/Loading_2.gif" width="20%" style="display: inline-block;">
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>


