.search
{
    width: 40%;
    float: right;
    margin: 20px 0px;
}

.heading1
{
    background-color: #0379c0;
    color: #fff;
    width: calc(100% - 0px);
    font-size: 22px !important;
    padding: 7px 30px;
    text-align: center;
    float: left;
    text-decoration: none;

}
.panel-heading {
    padding: 0px;
    width: 100%;
    float: left;
    text-decoration: none;
}

.panel-title {

    width: 100%;
    float: left;
    padding: 0px;
    margin: 0px;

}

#country-state
{
    padding: 6px 12px;
    width: 100%;
    float: left;
    border: #ebebeb solid 1px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    height: 34px;
    border-radius: 4px;
}

#country-state option
{
    padding: 6px 12px;

}

.nav-pills>li {
    float: left;
    width: calc(25% - 2px);
    float: left;
    border: 1px solid #337ab7;
    border-radius: 5px;
}

.nav-pills{
    text-align: center;
    font-weight: bold;
    text-align: center;
}
.nav-pills>li {
 cursor: pointer;
}
@media only screen and (max-width: 700px) and (min-width: 320px)  {
.tab-content>.active {
    display: block;
    overflow: scroll;
    width: 100%;
    float: left;
}
td> button
{
margin: 2px 0px !important;
}
}