<div class="container-flued apc">
    <div class="container">
        <h4 class="heading">Website Policy</h4>
    </div>

</div>
<div class="container">
    <div class="field-items">
        <div class="field-item even" property="content:encoded">
            <p class="font-bold">Copyright Policy</p>
            <p>Material featured on this site may be reproduced free of charge in any format or media without requiring
                specific permission. This is subject to the material being reproduced accurately and not being used in a
                derogatory manner or in a misleading context. Where the material is being published or issued to others,
                the source must be prominently acknowledged.</p>
            <p>However, the permission to reproduce this material does not extend to any material on this site, which is
                explicitly identified as being the copyright of a third party. Authorisation to reproduce such material
                must be obtained from the copyright holders concerned.</p>
            <p class="font-bold">Website Monitoring Plan</p>
            <p>Being a citizen centric website, it is well monitored to ensure efficient disbursal of services to the
                citizens. There are regular checks maintained to monitor the performance of the website focusing on
                different aspects of the website</p>
            <ol>
                <li><span class="font-bold">Functionality –</span> The website is well monitored for checking the
                    effectiveness of the functional aspects. All the modules are tested for functionality in timely
                    manner</li>
                <li><span class="font-bold">Performance –</span> The website accrues traffic related to different
                    services offered by the Ministry respective to type of users. Frequent testing is done to measure
                    the performance of the website to ensure negligible downtime for users</li>
                <li><span class="font-bold">Broken Links –</span> The website is regularly tested to ensure that there
                    are no broken links or error pages throughout. Each module undergoes thorough testing where sanity
                    of all the links are checked</li>
                <li><span class="font-bold">Traffic Analysis –</span> The website undergoes regular stress testing,
                    spike testing and other testing endeavors to ensure that traffic is well managed by the website and
                    meticulous tracking of traffic is done to ensure well managed servers.</li>
                <li><span class="font-bold">Feedback –</span> Every module of the website has been equipped with
                    features to gather/ capture feedback from the user. The detailed analysis of feedback helps us bring
                    about necessary changes to the website whenever needed.</li>
            </ol>
        </div>
    </div>
</div>
<br>
<br>