.search
{
    width: 40%;
    float: right;
    margin: 20px 0px;
}

.heading1
{
    background-color: #0379c0;
    color: #fff;
    width: calc(100% - 0px);
    font-size: 22px !important;
    padding: 7px 30px;
    text-align: center;
    float: left;
    text-decoration: none;

}
.panel-heading {
    padding: 0px;
    width: 100%;
    float: left;
    text-decoration: none;
}

.panel-title {

    width: 100%;
    float: left;
    padding: 0px;
    margin: 0px;

}