<div class="col-sm-12" style=" padding: 10px;
box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);">
  <div class="panel-heading active" role="tab" id="headinOneg">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" class="heading1" href="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        State
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="search">
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
      </div>
      <table class="table table-bordered table-striped" *ngIf="!IsSpinner">
        <thead>
          <tr>
            <th class="th-sm">State
            </th>
            <th class="th-sm">Services
            </th>
            <th class="th-sm">status
            </th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr>
            <td>Delhi</td>
            <td>vahan</td>
            <td>Active</td>
          </tr>

          <tr>
            <td>Uttar Pradesh</td>
            <td>Transport</td>
            <td>Pending</td>
          </tr>
          <tr>
            <td>Haryana</td>
            <td>vahan</td>
            <td>Active</td>
          </tr>

          <tr>
            <td>Panjab</td>
            <td>Transport</td>
            <td>Pending</td>
          </tr>
          <tr>
            <td>Bihar</td>
            <td>vahan</td>
            <td>Active</td>
          </tr>

          <tr>
            <td>Rajasthan</td>
            <td>Transport</td>
            <td>Pending</td>
          </tr>
          <tr>
            <td>Himanchal</td>
            <td>vahan</td>
            <td>Active</td>
          </tr>

          <tr>
            <td>Goa</td>
            <td>Transport</td>
            <td>Pending</td>
          </tr>
          <tr>
            <td>Gujarat</td>
            <td>vahan</td>
            <td>Active</td>
          </tr>

          <tr>
            <td>Maharastra</td>
            <td>Transport</td>
            <td>Pending</td>
          </tr>
          <tr>
            <td>Delhi</td>
            <td>vahan</td>
            <td>Active</td>
          </tr>

          <tr>
            <td>Uttar Pradesh</td>
            <td>Transport</td>
            <td>Pending</td>
          </tr>
          <tr>
            <td>Delhi</td>
            <td>vahan</td>
            <td>Active</td>
          </tr>

          <tr>
            <td>Uttar Pradesh</td>
            <td>Transport</td>
            <td>Pending</td>
          </tr>
          <tr>
            <td>Delhi</td>
            <td>vahan</td>
            <td>Active</td>
          </tr>

          <tr>
            <td>Uttar Pradesh</td>
            <td>Transport</td>
            <td>Pending</td>
          </tr>
          <tr>
            <td>Delhi</td>
            <td>vahan</td>
            <td>Active</td>
          </tr>

          <tr>
            <td>Uttar Pradesh</td>
            <td>Transport</td>
            <td>Pending</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" *ngIf="IsSpinner">
      <div style="width: 100%; float: left; display: block; text-align: center;">
        <img src="../../../../assets/img/Loading_2.gif" width="20%" style="display: inline-block;">
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>