<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: left;">
            <div>
                <h2 class="bottom-space">Contact Us:</h2>
            </div>
            <div class="bottom-space" style="font-size: 16px">
                For any technical problems related to mParivahan, Please contact:
            </div>
            <table style="font-size: 14px"
                class="bottom-space table table-bordered table-responsive table-condensed  table table-width-oneforth">
                <tbody>
                    <tr>
                        <td class="font-bold"> Email-id: </td>
                        <td> helpdesk-mparivahan[at]gov[dot]in </td>
                    </tr>
                    <tr>
                        <td class="font-bold"> Contact Number:</td>
                        <td>0120-4925505</td>
                    </tr>
                    <tr>
                        <td class="font-bold">Timings:</td>
                        <td>6:00 AM - 10:00 PM</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>