.heading
{
    width: 100%;
    float: left;
   
    font-size: 22px;
    color: #fff;
   
}

.apc
{
    background:#109ece;
    padding:4px 0px;
    margin:20px 0px;
}
p{
width: 100%;
float: left;
line-height: 26px;
}

ol
{
    width: 100%;
    float: left;
    
}

ol li
{
    width: 100%;
    float: left;
    line-height: 26px;
    margin-bottom: 7px;
    
}
.font-bold
{
    font-weight: bold;
}