<div class="container-flued apc">
    <div class="container">
        <h4 class="heading">Hyperlink Policy</h4>

    </div>


</div>
<div class="container">


    <p>We do not object to you linking directly to the information that is hosted on our site and no prior permission is
        required for the same. However, we would like you to inform us about any links provided to our site so that you
        can be informed of any changes or updations therein. Also, we do not permit our pages to be loaded into frames
        on your site. Our Department's pages must load into a newly opened browser window of the user.</p>

</div>
<br>
<br>