<div class="container-flued apc">
    <div class="container">
        <h4 class="heading">Content Policies</h4>
    </div>

</div>
<div class="container">
    <div class="field-items">
        <div class="field-item even" property="content:encoded">
            <p class="font-bold">Content Review Policy</p>
            <p>Parivahan.gov.in is a prima facie interaction of users with the citizen centric services of Ministry of
                Road Transport and Highways. The website has been created by National Informatics Centre. It is
                therefore a requirement that the content on the website is up-to-date and frequently reviewed which is a
                genesis of Content Review Policy.

                The content is reviewed according to the type and nature. It will also be updated in case of any event
                and thus, eligible for a review in case of any eventual changes.</p>
        </div>
    </div>
</div>
<br>
<br>