

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
  }
  .firstTab {
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #dedede;
    text-decoration: none;
    border-radius: 10px;
    line-height: 2.0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 20px;
    box-sizing: border-box;
    transition: 0.3s;
    -webkit-box-shadow: 0 4px 6px -6px #9fa0a0;
    -moz-box-shadow: 0 4px 6px -6px #007fb6;
    box-shadow: 0 4px 6px -6px #9fa0a0;
    min-height: 132px;
  }
  .firstTab:hover {
  
    border: 2px solid #058ad1;
  
    -webkit-box-shadow: 0 8px 6px -6px #9fa0a0;
    -moz-box-shadow: 0 8px 6px -6px #007fb6;
    box-shadow: 0 8px 6px -6px #9fa0a0;
  }
  
  .nav-tabs>li>a {
    border: none !important;
    border-radius: none !important;
  }
  
  .nav>li>a {
    padding: 0px !important;
  }

  section {
    padding: 60px 0;
  }
  
  section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  
  #tabs {
    background: #007b5e;
    color: #eee;
  }
  
  #tabs h6.section-title {
    color: #eee;
  }
  
  #tabs .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    font-size: 20px;
    font-weight: bold;
  }
  
  #tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
  }
  
  .firstTab {
    width: 100%;
    float: left;
    padding: 20px;
    color: #fff;
    background-color: #5fb4ef;
  }
  
  .nav-tabs {
    border: none !important;
  }
  
  .firstTab p {
    font-size: 16px;
    width: 100%;
    float: left;
    text-align: left;
  }
  
  .firstTab h4 {
    font-size: 24px;
    width: 100%;
    float: left;
    text-align: left;
  }
  
  .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width:25%;
    float: left;
  }
  @media only screen and (max-width: 700px) and (min-width: 320px)  {

    .nav-tabs > li {
      float: left;
      margin-bottom: -1px;
      width: 100%;
      float: left;
      padding: 0px;
      margin: 0px;
  }
  .lodinImg
  {
    width: 10% !important;
  }
  #main {
    margin-top: 25px;
}
  }
  