<div class="row" id="main">
    <div class="col-sm-12 col-md-12 well" id="content">
        <h1>Welcome Admin!</h1>
    </div>
</div>
<div class="content">
    <ul class="nav nav-tabs" role="tablist">

        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">


                <div class="col-sm-12">

                    <div class="firstTab" style="background-color: #2F58CD">
                        <div style="width: 100%;float: left;" *ngIf="!IsSpinner">
                        <h4>50</h4>
                        <p class="FirstLine">Vahan</p>
                    </div>
                
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4" *ngIf="IsSpinner">
                            <div style="width: 100%; float: left; display: block; text-align: center;">
                                <img src="assets/img/loading-gif-icon-24.gif" width="40%"
                                    style="display: inline-block;" class="lodinImg">
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                </div>

            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tabs-2" role="tab">

                <div class="firstTab" style="background: #d66756">
                    <div style="width: 100%;float: left;" *ngIf="!IsSpinner">
                        <h4>580</h4>
                        <p class="FirstLine">
                           Sarathi</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4" *ngIf="IsSpinner">
                            <div style="width: 100%; float: left; display: block; text-align: center;" >
                                <img src="assets/img/loading-gif-icon-24.gif" width="40%"
                                    style="display: inline-block;" class="lodinImg">
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">

                <div class="firstTab" style="background: #3795BD" >
                    <div style="width: 100%;float: left;" *ngIf="!IsSpinner">
                        <h4>{{SarathiCount}}</h4>
                        <p class="FirstLine"> Echallan </p>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4" *ngIf="IsSpinner">
                            <div style="width: 100%; float: left; display: block; text-align: center;" >
                                <img src="assets/img/loading-gif-icon-24.gif" width="40%"
                                    style="display: inline-block;" class="lodinImg">
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>

            </a>


        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab" style="padding-right:0px">

                <div class="firstTab" style=" background: #009688 ">
                    <div style="width: 100%;float: left;" *ngIf="!IsSpinner">
                        <h4>{{ChallanCount}}</h4>

                        <p class="FirstLine">Notice </p>

                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4" *ngIf="IsSpinner">
                            <div style="width: 100%; float: left; display: block; text-align: center;">
                                <img src="assets/img/loading-gif-icon-24.gif" width="40%"
                                    style="display: inline-block;"  class="lodinImg">
                            </div>
                        
                        <div class="col-md-4"></div>
                    </div>
                </div>
                </div>
            </a>
        </li>
    </ul>

</div>

<div class="grid">
    <div class="bar" style="--bar-value:85%;" data-name="Vahan" title="Your Blog 85%"></div>
    <div class="bar" style="--bar-value:23%;" data-name="Sarathi" title="Medium 23%"></div>
   <div class="bar" style="--bar-value:7%;" data-name="Echallan" title="Tumblr 7%"></div>
    <div class="bar" style="--bar-value:38%;" data-name="Notice" title="Facebook 38%"></div>
    <div class="bar" style="--bar-value:35%;" data-name="Registered User" title="YouTube 35%"></div>  
</div>
