<div class="col-sm-12">
    <div class="card mb-4">
        <div class="card-header" style="text-align: center; font-size: 28px;">Create Service</div>
        <div class="card-body">
            <form #createForm="ngForm" (ngSubmit)="createData(createForm.value)">

                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="serviceCode">Service Code</label>
                        <input class="form-control" id="serviceCode" name="serviceCode" type="text"
                            placeholder="Enter Service Code">
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="serviceModule">Service Module</label>
                        <input class="form-control" name="serviceModule" id="serviceModule" type="text"
                            placeholder="Enter Service Module">
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="serviceName">Service Name</label>
                        <input class="form-control" id="serviceName" name="serviceName" type="text"
                            placeholder="Enter Service Name">
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="serviceStateCode">Service State Code <Code></Code></label>
                        <input class="form-control" id="serviceStateCode" name="serviceStateCode" type="text"
                            placeholder="Enter Service Order">
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="serviceStatus">Service Status</label>
                        <input name="serviceStatus" value="1" id="serviceStatus" type="checkbox" checked>
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="serviceOrder">Service Order</label>
                        <input class="form-control" name="serviceOrder" id="serviceOrder" type="Text"
                            placeholder="Enter Service Order">
                    </div>


                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="serviceAndroid">Service Android</label>
                        <input id="serviceAndroid" value="true" name="serviceAndroid" type="checkbox" checked>
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="serviceIos">Service Ios</label>
                        <input id="serviceIos" name="serviceIos" value="true" type="checkbox" checked>
                    </div>
                </div>

                <div class="col-sm-12" style="text-align: center; display: block; margin-top: 15px;">
                    <button style="display: inline-block;" class="btn btn-primary" style="margin-top: 20px;"
                        type="submit">Create Service</button>
                </div>
            </form>
        </div>
    </div>
</div>