<div class="container-flued apc">
    <div class="container">
        <h4 class="heading">Privacy Policy</h4>
    </div>

</div>
<div class="container ">

    <div class="region region-content">
        <section id="block-system-main" class="block block-system clearfix">


            <article id="node-21" class="node node-page clearfix" about="/parivahan//en/content/privacy-policy"
                typeof="foaf:Document">
                <header>
                    <span property="dc:title" content="Privacy Policy" class="rdf-meta element-hidden"></span><span
                        property="sioc:num_replies" content="0" datatype="xsd:integer"
                        class="rdf-meta element-hidden"></span>
                </header>
                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even" property="content:encoded">
                            <p>Thanks for visiting this website and reviewing our privacy policy.</p>
                            <p>We collect no personal information, like names or addresses, when you visit our website.
                                If you choose to provide that information to us, it is only used to fulfill your request
                                for information.</p>
                            <p>We do collect some technical information when you visit to make your visit seamless. The
                                section below explains how we handle and collect technical information when you visit
                                our website.</p>
                            <p class="font-bold">Information collected and stored automatically</p>
                            <p>When you browse, read pages, or download information on this website, we automatically
                                gather and store certain technical information about your visit. This information never
                                identifies who you are. The information we collect and store about your visit is listed
                                below:</p>
                            <ul class="bullets-disc">
                                <li>The Internet domain of your service provider (e.g. mtnl.net.in) and IP address (an
                                    IP address is a number that is automatically assigned to your computer whenever
                                    you're surfing the web) from which you access our website.</li>
                                <li>The type of browser (such as Firefox, Netscape, or Internet Explorer) and operating
                                    system (Windows, Linux) used to access our site.</li>
                                <li>The date and time you accessed our site.</li>
                                <li>The pages/URLs you have visited and</li>
                                <li>If you reached this website from another website, the address of that referring
                                    website.</li>
                            </ul>
                            <p>This information is only used to help us make the site more useful for you. With this
                                data, we learn about the number of visitors to our site and the types of technology our
                                visitors use. We never track or record information about individuals and their visits.
                            </p>
                            <p class="font-bold">Cookies</p>
                            <p>When you visit some websites, they may download small pieces of software on your
                                computer/browsing device known as cookies. Some cookies collect personal information to
                                recognise your computer in the future. We only use non-persistent cookies or "per-
                                session cookies".</p>
                            <p>Per-session cookies save technical purposes, like providing seamless navigation through
                                this website. "These cookies do not collect personal information on users and they are
                                deleted as soon as you leave our website. The cookies do not permanently record data and
                                they are not stored on your computer's hard drive. The cookies are stored in memory and
                                are only available during an active browser session. Again, once you close your browser,
                                the cookie disappears.</p>
                            <p class="font-bold">If you send us personal information</p>
                            <p>We do not collect personal information for any purpose other than to respond to you (for
                                example, to respond to your questions or provide subscriptions you have chosen). If you
                                choose to provide us with personal information— like filling out a Contact Us form, with
                                an e-mail address or postal address, and submitting it to us through the website—we use
                                that information to respond to your message, and to help you get the information you've
                                requested. We only share the information you give us with another Government agency if
                                your question relates to that agency, or as otherwise required by law.</p>
                            <p>Our website never collects information or creates individual profiles for commercial
                                marketing. While you must provide an e-mail address for a localised response to any
                                incoming questions or comments to us, we recommend that you do NOT include any other
                                personal information.</p>
                            <p class="font-bold">Site Security</p>
                            <ul class="bullets-disc">
                                <li>For site security purposes and to ensure that this service remains available to all
                                    users, this Government computer system employs commercial software programs to
                                    monitor network traffic to identify unauthorised attempts to upload or change
                                    information, or otherwise Cause damage.</li>
                                <li>Except for authorised law enforcement investigations, no other attempts are made to
                                    identify individual users or their usage habits. Raw data logs are used for no other
                                    purposes and are scheduled for regular deletion.</li>
                                <li>Unauthorised attempts to upload information or change information on this service
                                    are strictly prohibited and may be punishable under the Indian IT Act.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <footer>
                </footer>
            </article>

        </section>
    </div>
</div>

<br>
<br>