.heading
{
    width: 100%;
    float: left;
   
    font-size: 22px;
    color: #fff;
   
}

.apc
{
    background:#109ece;
    padding:4px 0px;
    margin:20px 0px;
}
p{
width: 100%;
float: left;
line-height: 26px;
}

.bullets-disc
{
    width: 100%;
    float: left;
    
}

.bullets-disc li
{
    width: 100%;
    float: left;
    line-height: 26px;
    
}