.carousel-inner>.item>a>img
{
  height: calc(100vh - 198px) !important;
}
@media only screen and (max-width: 700px) and (min-width: 320px)  {

.carousel-inner > .item > a > img {
  height: 100% !important;
}
  }