<div class="container-flued" style="margin-top: 0px;">

  <div id="carousel-example" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <a href="#"><img
            src="assets/img/slider/akam-saath-prayas-hindi.jpg" /></a>
      </div>
      <div class="item">
        <a href="#"><img
            src="assets/img/slider/vahan-banner-option-5-h-_0.png" /></a>
      </div>



    </div>

    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>


</div>